<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="HeaHep.dao.HMemberDao">

  <resultMap type="HMember" id="memberMap">
    <id column="member_no" property="memberNo"/>
    <result column="member_name" property="memberName"/>
    <result column="member_email" property="memberEmail"/>
    <result column="member_tel" property="memberTel"/>
    <result column="member_pwd" property="memberPWD"/>
    <result column="member_gender" property="memberGender"/>
    <result column="rank_no" property="memberRank"/>
    <result column="trainer_no" property="trainerName"/>
  </resultMap>
  <!-- 회원가입 -->
  <insert id="joinMember" parameterType="HMember"
    useGeneratedKeys="true" keyProperty="memberNo" keyColumn="member_no">
    insert into members(member_name, member_email, member_tel, member_pwd, member_gender, rank_no)
    values(#{memberName}, #{memberEmail}, #{memberTel}, password(#{memberPWD}), #{memberGender}, #{memberRank})
  </insert>
  <!-- 로그인 -->
  <select id="selectOneByEmailAndPassword" resultMap="memberMap"
    parameterType="map">
    select member_no
    from members
    where member_email=#{memberEmail} and member_pwd=password(#{memberPWD})
  </select>
  
</mapper>