<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="HeaHep.dao.HMemberDao">

  <resultMap type="HMember" id="memberMap">
    <id column="member_no" property="memberNo"/>
    <result column="member_name" property="memberName"/>
    <result column="member_email" property="memberEmail"/>
    <result column="member_tel" property="memberTel"/>
    <result column="member_pwd" property="memberPWD"/>
    <result column="member_gender" property="memberGender"/>
    <result column="rank_name" property="memberRank"/>
    <result column="trainer_no" property="trainerNo"/>
    <result column="join_date" property="joinedDate"/>
  </resultMap>
  <resultMap type="HTrainer" id="trainerMap">
    <id column="trainer_no" property="trainerNo"/>
    <result column="trainer_photo" property="trainerPhoto"/>
    <result column="trainer_comment" property="trainerComment"/>
    <result column="member_name" property="trainerName"/>
    <result column="member_email" property="trainerEmail"/>
    <result column="member_gender" property="trainerGender"/>
    <result column="center_name" property="centerName"/>
    <result column="center_addr" property="centerAddr"/>
    <result column="center_city" property="centerCity"/>
    <result column="center_branch" property="centerBranch"/>
  </resultMap>
  <!-- 회원가입 -->
  <insert id="joinMember" parameterType="HMember"
    useGeneratedKeys="true" keyProperty="memberNo" keyColumn="member_no">
    insert into members(member_name, member_email, member_tel, member_pwd, member_gender, rank_no, join_date)
    values(#{memberName}, #{memberEmail}, #{memberTel}, password(#{memberPWD}), #{memberGender}, 2, now())
  </insert>
  <!-- 로그인 -->
  <select id="selectOneByEmailAndPassword" resultMap="memberMap"
    parameterType="map">
    select mbs.member_no, mbs.rank_no, mrk.rank_name, 
    from members mbs
    left join ranks mrk on mrk.rank_no = mbs.rank_no
    where mbs.member_email=#{memberEmail} and mbs.member_pwd=password(#{memberPWD})
  </select>
  <!-- 정보수정 -->
  <update id="changeMemberInfo" parameterType="HMember">
    update members set member_tel = #{memberTel}, trainer_no=#{trainerNo}
    where member_no = #{memberNo}
  </update>
  <!-- 회원정보 -->
  <select id="selectOneByMemberEmail" resultMap="memberMap"
    parameterType="map">
    select mbs.member_email, mbs.member_name, mrk.rank_name, mbs.member_Tel, mbs.member_Gender,
           mbs.join_Date
    from members mbs
    left join ranks mrk on mrk.rank_no = mbs.rank_no
    where mbs.member_email = #{memberEmail}
  </select>
  <!-- 이메일 중복 체크 -->
  <select id="selectOneByEmail" resultMap="memberMap"
    parameterType="String">
    select member_email from members
    where member_email = #{memberEmail}
  </select>
</mapper>