<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="HeaHep.dao.HMemberDao">

  <resultMap type="HMember" id="memberMap">
    <id column="member_no" property="memberNo"/>
    <result column="member_email" property="memberEmail"/>
    <result column="member_name" property="memberName"/>
    <result column="member_nick" property="memberNick"/>
    <result column="member_tel" property="memberTel"/>
    <result column="member_pwd" property="memberPWD"/>
    <result column="member_gender" property="memberGender"/>
    <result column="rank_no" property="rankNo"/>
    <result column="rank_name" property="memberRank"/>
    <result column="trainer_no" property="trainerNo"/>
    <result column="join_date" property="joinedDate"/>
  </resultMap>
  <resultMap type="HTrainer" id="trainerMap">
    <id column="trainer_no" property="trainerNo"/>
    <result column="member_no" property="memberNo"/>
    <result column="trainer_photo" property="trainerPhoto"/>
    <result column="trainer_comment" property="trainerComment"/>
    <result column="member_name" property="trainerName"/>
    <result column="member_email" property="trainerEmail"/>
    <result column="center_name" property="centerName"/>
    <result column="centeraddr_si" property="centerAddrSi"/>
    <result column="centeraddr_gu" property="centerAddrGu"/>
    <result column="centeraddr_detail" property="centerAddrDetail"/>
    <result column="signin_date" property="signInDate"/>
  </resultMap>
  <!-- 회원가입 -->
  <insert id="joinMember" parameterType="HMember"
    useGeneratedKeys="true" keyProperty="memberNo" keyColumn="member_no">
    insert into members(member_name, member_email, member_tel, member_pwd,
    member_gender, rank_no, join_date, member_nick)
    values(#{memberName}, #{memberEmail}, #{memberTel}, password(#{memberPWD}),
    #{memberGender}, 2, now(),#{memberNick})
  </insert>
  <!-- 로그인 -->
  <select id="selectOneByEmailAndPassword" resultMap="memberMap"
    parameterType="map">
    select mbs.member_no, mbs.rank_no, mrk.rank_name, 
    from members mbs
    left join ranks mrk on mrk.rank_no = mbs.rank_no
    where mbs.member_email=#{memberEmail} and mbs.member_pwd=password(#{memberPWD})
  </select>
  <!-- 정보수정 -->
  <update id="changeMemberInfo" parameterType="HMember">
    update members set member_tel = #{memberTel}, trainer_no=#{trainerNo}
    where member_no = #{memberNo}
  </update>
  <!-- 회원정보 -->
  <select id="selectOneByMemberEmail" resultMap="memberMap"
    parameterType="map">
    select mbs.member_email, mbs.member_name, mrk.rank_name, mbs.member_Tel,
    mbs.member_Gender, mbs.join_Date, trs.trainer_no, trs.trainer_name
		from members mbs
		left join ranks mrk on mrk.rank_no = mbs.rank_no
		left join trainers trs on mbs.trainer_no = trs.trainer_no
    where mbs.member_email = #{memberEmail}
  </select>
  <!-- 이메일 중복 체크 -->
  <select id="selectOneByEmail" resultMap="memberMap"
    parameterType="String">
    select member_email from members
    where member_email = #{memberEmail}
  </select>
  <!-- 닉네임 중복 체크 -->
  <select id="selectOneByNick" resultMap="memberMap"
    parameterType="String">
    select member_nick from members
    where member_nick = #{memberNick}
  </select>
  <!-- 회원 랭크, 등록기간 변경(관리자용) -->
  <update id="changeMemberRank" parameterType="HMember">
    update members set rank_no = #{memberRank}
    where member_no = #{memberNo}
  </update>
  <!-- 트레이너 등록(관리자용) -->
  <insert id="joinTrainer" parameterType="HTrainer"
    useGeneratedKeys="true" keyProperty="trainerNo" keyColumn="trainer_no">
    insert into trainers(member_no, trainer_name, center_name, centeraddr_si, centeraddr_gu, centeraddr_detail, signin_date)
    value(#{memberNo}, (select member_name from members where member_no=#{memberNo}), #{centerName},#{centerAddrSi},#{centerAddrGu},#{centerAddrDetail}, now())
  </insert>
  <!-- 트레이너 정보 -->
  <select id="selectOnByTrainerNo" resultMap="trainerMap" parameterType="map">
    select mbs.member_no, tns.trainer_no, rk.rank_name, mbs.member_tel, tns.center_name
    from members mbs
    left join rank rk on rk.rank_no = mbs.rank_no
    left join trainers tns on mbs.member_no = tns.member_no
    where mbs.member_name = #{trainerName}
  </select>
</mapper>